#map {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

::ng-deep .legend {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 18px;
  opacity: 0.7;
}

::ng-deep .leaflet-popup-content-wrapper {
  width: 320px
}

